<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="post">
        <input type="text" name="nombre">
        <button type="submit">Enviar</button>
    </form>


    <form method="get">
        <input type="text" name="ruta">
        <button>Ir</button>
    </form>

    <h1>Hola {{ name }}</h1>
</body>
</html>